@model WebApplication3_t5.Models.CouseStudent

@{
     ViewBag.Title = "Display Couse Student";
     Layout = "~/Views/Shared/_Layout2.cshtml";

}

<h2>Display Couse Student</h2>

<div>

     <hr />
     <dl class="dl-horizontal">
     </dl>
     <h3>Course Information</h3>

     <label>Course ID: </label>
     <label>@Model.course.cid</label><br />

     <label>Course Name: </label>
     <label>@Model.course.cname</label>
     <br /><br />
     <h3>List of students:</h3>
     <table border="1" width="400" style="border-collapse:collapse" cellpadding="5">
          <tr>
               <th>id</th>
               <th>name</th>
               <th>age</th>
               <th>address</th>
          </tr>
          @foreach (var item in Model.students)
          {
               <tr>
                    <td>@item.sid</td>
                    <td>@item.name</td>
                    <td>@item.age</td>
                    <td>@item.addr</td>
               </tr>
          }
     </table>
</div>
 