@model IEnumerable<WebApplication1.Models.Product>

@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="row">
    @foreach (var item in Model)
    {

    <div class="col-lg-2">
        @Html.DisplayFor(modelItem => item.Categoryid)<br />

        @Html.DisplayFor(modelItem => item.ProdName)<br />

        @{ 
            string Image = "~/Images/" + item.ImagePath;
            <img src="@Url.Content(Image)" style="width:150px;" />
        }

        @Html.DisplayFor(modelItem => item.Price)<br />

        @Html.ActionLink("Edit", "Edit", new { id = item.Pid }) |
        @Html.ActionLink("Details", "Details", new { id = item.Pid }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Pid })
    </div>
    }
</div>
